{% assign group = include.group %}
<div class="container">
  <section class="section section-links">

    {% for item in group.items %}
    <article class="single-link">
      <div class="single-link__image">
        <img src="{{ item.image_url }}" alt="{{ item.image_alt }}" loading="lazy">
      </div>
      <div class="single-link__content">
        <h4 class="single-link__title">{{ item.title }}</h4>
        <p class="single-link__description">{{ item.description }}</p>
        <a href="{{ item.link }}" class="single-link__url" target="_blank" rel="noopener">{{ item.link }}</a>
      </div>
    </article>
    {% endfor %}

  </section>
</div>